<div class="about clearfix">
	<header class="about-header">
	  <div class="container">
	  	<h1>About me</h1>
	  	<div class="about-image">
	  		<img class="about-image" src="http://www.nationalrighttolifenews.org/news/wp-content/uploads/2016/07/donaldtrump621re.jpg" style=" float: left;" / >
	  	</div>
	    <div class="about-message">
	    	<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit at est vitae pretium. Donec fringilla metus sit amet nisl vulputate, eget condimentum nisi ultrices. Etiam laoreet sem id tincidunt gravida. Sed gravida varius massa vel tempus. Suspendisse arcu orci, lobortis eu malesuada nec, convallis eu enim. Fusce at turpis dapibus, tristique diam sit amet, iaculis augue. Ut pulvinar ipsum non ante interdum, eu pretium ex lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin et hendrerit dui. Cras eget ultrices arcu, ac viverra elit. Etiam vel velit metus. Maecenas et ipsum in justo consectetur porta.
				</p>
				<p>
					Donec urna nisl, auctor eu sem eu, lacinia iaculis lacus. Vestibulum tellus sem, facilisis a tellus eget, gravida accumsan nibh. Etiam molestie tempor ligula vel laoreet. Sed ultrices sagittis velit, nec iaculis ligula suscipit id. Cras at nisi est. Ut sed tortor id metus ultricies lobortis. Proin accumsan feugiat erat in mattis. Fusce faucibus bibendum cursus. Nulla imperdiet, dui vel efficitur cursus, lacus nulla tempor turpis, vel imperdiet leo lectus ac urna. Pellentesque efficitur vestibulum blandit.
				</p>
				<p>
					Donec sed ipsum nec quam tincidunt pellentesque. Vestibulum euismod mattis orci, quis luctus ante condimentum lobortis. Curabitur non turpis ullamcorper, lobortis urna in, efficitur magna. Ut purus felis, dignissim et augue eu, pharetra ultrices nibh. Sed eu vehicula quam. Pellentesque commodo pretium lacus a condimentum. Suspendisse tempus enim enim, nec imperdiet sem pulvinar vitae. In hac habitasse platea dictumst. Suspendisse elementum urna ut nunc faucibus lacinia. Sed iaculis sem in dui semper tincidunt. Proin mauris nunc, bibendum ut ornare et, vestibulum vitae lacus. Maecenas ut est rhoncus, ullamcorper arcu at, interdum nisl. Ut blandit sapien eu est viverra bibendum. Cras sit amet placerat justo. Sed egestas tortor non elit finibus blandit.
				</p>	
	    </div>
	  </div>
	</header>
</div>
