<div class="about clearfix">
	<header class="services-header">
	  <div class="container">
	  	<h1>My services</h1>

	    <div class="services-content">
       <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-leaf">
                What motivated you to become a web developer?
              </span></a>
            </h4>
          </div> <!-- /Panel-heading -->
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>After graduating college, I spent nearly four years working in business operations. Although I had found a path to success in that field, I knew it wasn't a path I wanted to take. A few college friends would eventually suggest I look into coding, and I fell in love with it after completing several courses on Code Academy.</p><p>What I love the most about coding is that it combines my interests of creation and collaboration. I was also pleasantly surprised to find an amazing community that encapsulates the entire field. Lastly, I feel that through coding I have the ability to benefit the lives of others with what I do, and it's with that motivation that I strive to learn more and put my skills to great use.</p>
            </div> <!-- /Panel-body -->
          </div> <!-- /Panel-collapse -->
        </div> <!-- /Panel-default -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-leaf">
                What services do you provide?
              </span></a>
            </h4>
          </div> <!-- /Panel-heading -->
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              Everything from updating existing web pages to creating new ones entirely from scratch! My goal is to create platforms that allow you to market and sell your product direct to your customers. This includes showcasing your inventory and allowing consumers to purchase your products direct from your own website! 
            </div> <!-- /Panel-body -->
          </div> <!-- /Panel-collapse -->
        </div> <!-- /Panel-default -->
	    </div>

	  </div>
	</header>
</div>